.nav-bar {     
    background-color: #1565C0;    
    color: #FFFFFF;    
    position: fixed;    
    top: 0;     
    z-index: 99;     
}    
 button:focus {    
     outline: none;    
     border: 0;   
}

.navbar-brand{
    color:#f47c46;
  }
.nav-link:hover{
    background-color: aqua;
    .text{
        color: black  !important;
    }
}