/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
  background-color:royalblue;
  // color: white;
}

.container {
    padding-top: 60px;
}



  .snackbar-ribon {
    color: #FFFFFF;
    background: #17a2b8;
  }
